<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.art.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.art.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpGeneration</servlet-name>
        <servlet-class>com.art.servlet.OtpGeneration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpByUser</servlet-name>
        <servlet-class>com.art.servlet.OtpByUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>com.art.servlet.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUploader</servlet-name>
        <servlet-class>com.art.servlet.PhotoUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.art.servlet.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSubmit</servlet-name>
        <servlet-class>com.art.servlet.FileSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpGeneration</servlet-name>
        <url-pattern>/OtpGeneration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpByUser</servlet-name>
        <url-pattern>/OtpByUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUploader</servlet-name>
        <url-pattern>/PhotoUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileSubmit</servlet-name>
        <url-pattern>/FileSubmit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
